*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1919;
  inline-size: 1200px;
}

.content {
  display: flex;
  flex-direction: row;
  
  column-gap: 30px;
  inline-size: 100%; 
  margin: 0 30px;
}

.result {
  align-self: flex-end;
  inline-size: 711px;
}

.search-form {
  display: flex;
  align-items: center;
  padding-block-start: 16px;
  column-gap: 40px;
  
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  cursor: pointer;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* width: fit-content; */
}



.result__video-container {
  position: relative;
  
  inline-size: 100%;
  /* margin-block-start: 20px; */
}

.result__video {
  inline-size: 100%;
  block-size: 386px;
  object-fit: cover;
}

.content__details {
  inline-size: 399px;
  block-size: 534px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  
}



.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  margin-block-start: 6px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
  scrollbar-width: none;
  
}

.content__list::-webkit-scrollbar {
  display: none;
}

/* .content__list-item {
  margin-block-end: 30px;
} */

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}



