*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1919;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 30px;
  max-width: 1140px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  column-gap: 40px;
}

.result__video {
  width: 100%
}

.content__details {
 
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  max-height: 298px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 25px;
}

.content__list::-webkit-scrollbar {
  display: none;
}


